$content-padding: 30px;
$content-padding-tablet: 50px;
$stroke-color: #ececec;
$grey: #444444;
$lightgrey: #f9f9f9;
$bg-color: #f1f1f1;
$theme-color: #63d1bb;
$theme-dark: #56c3b2;
$inner-title: #231f20;
$tablet-width: 768px;
$desktop-width: 1150px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
