.additional-nav {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: $desktop-width) {
  .additional-nav {
    display: flex;
    flex-wrap: wrap;

    .additional-nav__item {
      padding: 17px 12px 0 50px;

      &:nth-child(2n+2) {
        padding-right: 0;
      }
    }

    .additional-nav__link {
      display: block;
      font-size: 15px;
      font-weight: bold;
      color: #000000;
      border: none;
    }
  }
}
