.comment {
  padding-top: 23px;

  .comment__text {
    margin: 0;
    margin-bottom: 26px;
    font-size: 15px;
    line-height: 30px;
    color: $grey;
  }

  .comment__name {
    display: block;
    font-weight: bold;
    font-style: normal;
  }

  .comment__tag {
    line-height: 30px;
    color: $grey;
    font-style: normal;
  }
}

@media (min-width: $tablet-width) {
  .comment {
    padding-top: 45px;

    .comment__text {
      margin-bottom: 56px;
      font-size: 17px;
    }

    .comment__name {
      font-size: 18px;
    }
  }
}

@media (min-width: $desktop-width) {
  .comment {
    margin-left: 175px;
  }
}
