.comments-list {
  @include block-padding;
  padding-top: 28px;
  padding-bottom: 44px;

  .comments-list__title {
    margin: 0;

    @include title-font;
  }

  .comments-list__item {
    margin-bottom: 30px;
  }

  .comments-list__slider {
    margin: 0 auto;
  }
}

@media (min-width: $tablet-width) {
  .comments-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 79px;

    background-color: #f3f3f3;

    .comments-list__title {
      order: -2;
      margin-bottom: 0;

      @include title-font-tablet;
    }

    .comments-list__write {
      order: -1;
      width: 171px;
    }

    .comments-list__item {
      margin-bottom: 0;
    }

    .comments-list__slider {
      margin-right: 0;
      position: relative;
      top: -40px;
    }
  }
}

@media (min-width: $desktop-width) {
  .comments-list {
    max-width: 1050px;
    margin: 0 auto;

    .comments-list__title {
      @include title-font-desktop;
      margin-left: 175px;
    }
  }
}
