.controls {
  width: 260px;
  box-sizing: border-box;
  font-size: 0;
  line-height: 0;
  border: 1px solid $stroke-color;

  .controls__button {
    position: relative;
    height: 50px;
    width: 50%;

    border: none;
    background: none;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;

    &--prev {
      border-right: 1px solid $stroke-color;
    }

    &:hover,
    &:focus {
      opacity: 0.6;
      outline: none;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .controls__arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 26px;
  }
}

@media (min-width: $tablet-width) {
  .controls {
    display: flex;
    justify-content: space-between;
    width: 137px;
    margin-bottom: 0;
    border: none;

    .controls__button {
      height: 26px;
      width: 50px;
      border: none;
    }
  }
}
