.contacts {
  @include block-padding;
  padding-top: 35px;
  padding-bottom: 36px;

  .contacts__title {
    margin: 0;
    margin-bottom: 28px;

    @include title-font;
    font-size: 18px;
  }

  .contacts__email {
    margin-bottom: 33px;
    color: $grey;
    font-size: 15px;
    line-height: 30px;
  }

  .contacts__link {
    padding-bottom: 5px;
    color: $grey;
    border-bottom: 1px solid #62d1ba;
  }

  .contacts__address {
    color: $grey;
    font-size: 15px;
    line-height: 30px;
  }

  .contacts__address-text {
    margin: 0;
  }
}
