.feedback {
  @include block-padding;
  padding-top: 39px;
  padding-bottom: 39px;
}

@media (min-width: $tablet-width) {
  .feedback {
    width: 230px;
    margin: 0 auto;
    padding-top: 56px;
    padding-bottom: 56px;
  }
}
