.footer {
  @include block-padding;
  padding-top: 24px;
  padding-bottom: 23px;

  background-color: $bg-color;

  .footer__logo {
    display: none;
    width: 102px;
    height: 34px;
    font-size: 0;

    background-image: url("../img/logo-footer.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .footer__social {
    margin-bottom: 27px;
  }

  .footer__copyright {
    padding-top: 22px;
    border-top: 1px solid #e5e5e5;
  }
}

@media (min-width: $tablet-width) {
  .footer {
    padding-top: 0;
    padding-bottom: 0;

    .footer__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 668px;
      margin: 0 auto;
      padding-top: 51px;
      padding-bottom: 58px;
    }

    .footer__logo {
      display: block;
    }

    .footer__social {
      margin-bottom: 0;
      margin-left: 80px;
    }

    .footer__copyright {
      padding: 0;
      margin-top: 7px;
      border: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .footer {
    .footer__container {
      width: 1050px;
    }
  }
}
