.inner-page {
  .inner-page__container {
    @include block-padding;

    display: flex;
    padding-top: 24px;
    padding-bottom: 30px;
    min-height: 177px;
    box-sizing: border-box;
    background-color: $bg-color;
  }

  .inner-page__title {
    margin: auto;
    font-size: 27px;
    line-height: 30px;
    color: $inner-title;
    text-align: center;
  }
}

@media (min-width: $tablet-width) {
  .inner-page {
    .inner-page__container {
      position: relative;
      min-height: 225px;
      margin-top: -41px;
      padding-top: 44px;
      border-top: 1px solid #dfdfdf;

      &::after {
        content: "";
        position: absolute;
        bottom: -13px;
        left: 0;
        height: 23px;
        width: 100%;
        background-image: url("../img/bg-zigzag-fill.svg");
        background-repeat: repeat-x;
        background-size: auto 23px;
      }
    }

    .inner-page__title {
      @include title-font-tablet;
      margin: auto;
    }
  }
}

@media (min-width: $desktop-width) {
  .inner-page {
    .inner-page__container {
      min-height: 254px;
      padding-top: 60px;

      &::after {
        bottom: -20px;
        height: 34px;
        background-size: 1150px 34px;
      }
    }

    .inner-page__title {
      @include title-font-desktop;
      margin-top: 33px;
    }
  }
}
