.inner-page {
  .inner-page__container {
    @include block-padding;

    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: 176px;
    box-sizing: border-box;
    background-color: $bg-color;
  }

  .inner-page__title {
    margin: auto;
    font-size: 27px;
    line-height: 30px;
    color: $inner-title;
    text-align: center;
  }
}

@media (min-width: $tablet-width) {
  .inner-page {
    .inner-page__container {
      margin-top: -41px;
      border-top: 1px solid #dfdfdf;
    }

    .inner-page__title {
      @include title-font-tablet;
    }
  }
}

@media (min-width: $desktop-width) {
  .inner-page {
    .inner-page__title {
      @include title-font-desktop;
    }
  }
}
