.inner-menu {
  margin: 0;
  padding: 0;
  list-style: none;

  .inner-menu__button {

    &--light {
      background-color: $theme-color;
    }

    &--dark {
      background-color: $theme-dark;
    }
  }

  .inner-menu__link {
    display: block;
    @include block-padding;
    padding-top: 26px;
    padding-bottom: 28px;

    color: #fff;
    font-size: 19px;
    font-weight: bold;
  }
}
