.link-button {
  display: block;
  padding-top: 14px;
  padding-bottom: 14px;

  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;

  color: $grey;
  border: 2px solid $grey;
}
