.link-button {
  display: block;
  padding-top: 14px;
  padding-bottom: 14px;

  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  background: none;
  color: $grey;
  border: 2px solid $grey;
  border-radius: 0;
  cursor: pointer;

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: $grey;
    outline: none;
  }

  &:active {
    color: rgba(#ffffff, 0.3);
  }
}
