.main-nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 320px;

  .main-nav__logo-container {
    @include block-padding;
    display: flex;
    justify-content: flex-end;
    width: 320px;
    padding-top: 22px;
    padding-bottom: 22px;
    box-sizing: border-box;

    border-bottom: 1px solid $stroke-color;
  }

  .main-nav__logo {
    width: 86px;
    height: 35px;
    margin: 0 auto;
    font-size: 0;
    background-image: url("../img/logo-mobile.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .main-nav__toggle-button {
    width: 20.5px;
    height: 20.5px;
    margin: auto 0;

    font-size: 0;
    line-height: 0;

    background: none;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
  }

  .main-nav__opened {
    background-image: url("../img/icon-menu-close.svg");
  }

  .main-nav__closed {
    background-image: url("../img/icon-menu-open.svg");
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    flex-direction: row;
    width: 768px;

    .main-nav__logo-container {
      width: 370px;
    }

    .main-nav__logo {
      margin-left: 0;
    }

    .main-nav__toggle-button {
      display: none;
    }
  }
}
