.offer {
  @include block-padding;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 28px;
  padding-bottom: 40px;

  &::after {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    height: 7px;
    width: 100%;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-position: left center;
    background-size: auto 7px;
  }

  .offer__title {
    margin: 0;
    margin-bottom: 5px;

    @include title-font;
  }

  .offer__subtitle {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 23px;
    color: $theme-color;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: bold;
  }

  .offer__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 500px;
  }

  .offer__description {
    margin: 0;
    margin-bottom: 18px;
    max-width: 100%;
    color: $grey;
    font-size: 15px;
  }

  .offer__properties {
    width: 100%;
    margin-bottom: 28px;
    border-collapse: collapse;
    color: $grey;
    font-size: 15px;
    line-height: 20px;
  }

  .offer__prop-name,
  .offer__prop-value {
    padding: 9.5px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid $stroke-color;
  }

  .offer__prop-name {
    padding-right: 14px;
  }

  .offer__image {
    margin-bottom: 18px;
  }

  .offer__price {
    margin: 0;
    margin-bottom: 26px;
    font-weight: bold;
    color: $grey;
  }

  .offer__buy {
    align-self: stretch;
  }
}

@media (min-width: $tablet-width) {
  .offer {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
    max-width: 668px;
    margin: 0 auto;
    padding-top: 45px;
    padding-bottom: 68px;

    &::after {
      height: 16px;
      width: 768px;
      background-size: 768px 16px;
      background-position: left 20px center;
    }

    .offer__title {
      @include title-font-tablet;
      margin-bottom: 0;
    }

    .offer__subtitle {
      align-self: center;
      width: 75px;
      margin-bottom: 0;
      margin-top: 8px;
      margin-right: 25px;
      line-height: 17px;
      text-align: center;
    }

    .offer__content {
      position: relative;
      width: 293px;
      margin: 0 auto;
      margin-top: 50px;
      padding-right: 378px;
    }

    .offer__description {
      font-size: 17px;
      line-height: 30px;
      margin-bottom: 36px;
    }

    .offer__properties {
      margin-bottom: 55px;
    }

    .offer__prop-name {
      width: 84px;
    }

    .offer__price {
      margin-bottom: 35px;
      font-size: 20px;
    }

    .offer__image {
      position: absolute;
      top: 7px;
      right: 0;
      width: 333px;
      height: 404px;
      margin: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .offer {
    position: relative;
    justify-content: flex-start;
    max-width: 1050px;
    padding-top: 124px;
    padding-bottom: 97px;

    &::after {
      height: 23px;
      width: 1150px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 1050px 23px;
    }

    .offer__title {
      @include title-font-desktop;

      z-index: 1;
      margin-left: 0;
    }

    .offer__subtitle {
      order: -1;
      margin-top: 6px;
      margin-right: 51px;
      margin-left: 46px;
    }

    .offer__content {
      position: static;
      width: 293px;
      min-height: 479px;
      margin: 0;
      margin-top: 48px;
      margin-left: 175px;
      padding-right: 0;
    }

    .offer__description {
      margin-bottom: 49px;
    }

    .offer__image {
      width: 525px;
      height: 636px;
      top: 72px;
      right: 50px;
    }

    .offer__price {
      margin-top: auto;
    }
  }
}
