.promo {
  padding-top: 23px;
  padding-bottom: 33px;

  border: 1px solid $stroke-color;

  .promo__container {
    padding: 0 34px;
  }

  .promo__title {
    position: relative;
    margin: 0;
    margin-bottom: 23px;
    padding-left: 57px;
    font-size: 17px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 32px;
      height: 22px;
      background-image: url("../../img/icon-video.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .promo__video {
    position: relative;

    font-size: 0;
    line-height: 0;
  }

  .promo__play {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 102px;
    height: 78px;

    background-image: url("../../img/icon-play.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .promo__text {
    margin: 0;
    padding-top: 28px;

    font-size: 13px;
    color: $grey;
  }

  .promo__link {
    margin-top: 23px;
  }
}
