.site-nav {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;

  .site-nav__link {
    display: block;
    padding-left: 75px;
    padding-top: 26.5px;
    padding-bottom: 26.5px;

    color: #000000;
    font-size: 17px;
    line-height: 24px;
    font-weight: bold;
    border-bottom: 1px solid $stroke-color;
  }
}

@media (min-width: $tablet-width) {
  .site-nav {
    flex-direction: row;
    order: 2;

    background-color: $lightgrey;

    .site-nav__link {
      padding: 17px 0px 0px 50px;
      font-size: 15px;
      border: none;
    }
  }
}
