.site-nav {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;

  .site-nav__link {
    display: block;
    padding-left: 75px;
    padding-top: 26.5px;
    padding-bottom: 26.5px;

    color: #000000;
    font-size: 17px;
    line-height: 24px;
    font-weight: bold;
    border-bottom: 1px solid $stroke-color;
  }
}

@media (min-width: $tablet-width) {
  .site-nav {
    flex-direction: row;
    order: 1;

    .site-nav__link {
      padding: 17px 0 0 50px;
      font-size: 15px;
      border: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .site-nav {
    order: -1;
    width: 500px;
    // border-bottom: 1px solid $stroke-color;

    .site-nav__item {
      padding-left: 50px;
      padding-right: 36px;

      &:first-child {
        border-right: 1px solid $stroke-color;
      }

      &:nth-child(n+2) {
        padding-left: 35px;
      }
    }

    .site-nav__link {
      font-size: 17px;
      padding: 0;
      padding-top: 26.5px;
      padding-bottom: 26.5px;
    }
  }
}
