.size-select {
  @include block-padding;
  padding-top: 31px;
  padding-bottom: 46px;

  .size-select__title {
    @include title-font;
    margin: 0;
    margin-bottom: 12px;

    text-transform: uppercase;
    text-align: center;
  }

  .size-select__notice {
    margin: 0;
    margin-bottom: 21px;
    font-size: 15px;
    line-height: 30px;
    text-align: center;
    color: $grey;
  }

  .size-select__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .size-select__input {
    margin: 0;
  }

  .size-select__label {
    display: block;
    width: 78px;
    padding: 15.5px 0;

    font-size: 17px;
    line-height: 1;
    font-weight: bold;
    color: $grey;
    text-align: center;

    border: 2px solid transparentize($grey, 0.9);
  }

  input[type="radio"]:checked + .size-select__label {
    border-color: $theme-color;
  }

  .size-select__send-btn {
    margin-top: 31px;
    padding: 15.8px 82px;
    font-size: 17px;
    line-height: 1.2;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;

    border: none;
    background: none;
    background-color: $theme-color;
  }
}
