.social {
  .social__list {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;

    font-size: 0;
    line-height: 0;
  }

  .social__item:not(:last-child) {
    margin-right: 40px;
  }

  .social__link {
    display: block;
    height: 29px;

    background-repeat: no-repeat;
    background-position: center;

    &--ig {
      width: 22px;
      background-image: url("../img/icon-insta.svg");
    }

    &--fb {
      width: 15px;
      background-image: url("../img/icon-fb.svg");
    }

    &--tw {
      width: 24px;
      background-image: url("../img/icon-twitter.svg");
    }
  }
}
