.user-nav {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;

  .user-nav__item {
    background-color: #ffffff;
    border-bottom: 1px solid $stroke-color;
  }

  .user-nav__link {
    display: block;
    position: relative;
    width: 245px;
    margin: 0 auto;
    padding-left: 75px;
    padding-top: 26px;
    padding-bottom: 28px;

    color: $black;
    font-size: 17px;
    line-height: 24px;
    font-weight: bold;

    &:hover,
    &:focus {
      color: rgba($black, 0.6);
      outline: none;
    }

    &:active {
      color: rgba($black, 0.3);
    }
  }

  .user-nav__icon {
    position: absolute;
    left: 32px;
    top: 50%;
    transform: translateY(-50%);
    fill: #d3d2d2;

    &--search {
      width: 18px;
      height: 18px;
    }

    &--cart {
      width: 21px;
      height: 19px;
    }
  }
}

.user-nav__link:hover .user-nav__icon,
.user-nav__link:focus .user-nav__icon {
  fill: $theme-color;
}

.user-nav__link:active .user-nav__icon {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .user-nav {
    flex-direction: row;

    .user-nav__item {
      border-bottom: none;
    }

    .user-nav__link {
      width: auto;
      height: 100%;
      padding-top: 31px;
      padding-bottom: 33px;
      padding-left: 82px;
      box-sizing: border-box;
      border-left: 1px solid $stroke-color;

      &--search {
        font-size: 0;
        line-height: 0;
      }

      &--basket {
        width: 315px;
        padding-right: 50px;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .user-nav {
    width: 500px;
    justify-content: flex-end;

    .user-nav__item {
      border-left: 1px solid $stroke-color;
    }

    .user-nav__link {
      border: none;

      &--basket {
        width: 317px;
      }
    }
  }
}
